extends layout

block content
  form.create-form.content(method="post", action="/")
    section.create-form__content
      h1.create-form__title Create a new bucket
      label Bucket's name
      input.create-form__input--name(type="text", name="name")
      label Description
      input.create-form__input--description(type="text", name="description")
      .button-container
        button.third ?
        button.second(action='false'): a(href="/upload/0") upload
        button.create-form__button(type="submit") create