extends layout

block content
  form.upload(method="post", action="/upload", enctype="multipart/form-data", class="upload-form")
    section(class="upload-form__content")
      h1(class="upload-form__title")
      input(type="file", name="upload" class="upload-form__input")
      button.upload-button(type="submit" class="upload-form__button") upload