extends layout

block content
  h1 Gimmefile

  form.upload(method="post", action="/upload", enctype="multipart/form-data")
    input(type="file", name="upload")
    button.upload-button(type="submit") upload