doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      h1 Gimmefile
    .container
      block content
    footer
      dl
        dt Design
          dd
            a(href='http://victordarras.fr/', target='_blank', title='Web and print Designer') Victor Darras
      dl
        dt Development
        dd
          a(href='http://www.zaibatsu.fr/', target='_blank', title='Zaibatsu - Blog de Tom Panier, développeur web') Tom Panier
      dl
        dt Powered by
        dd
          a(href='http://expressjs.com/', target='_blank') express.js
