extends layout

block content
  form.upload-form(method="post", action="/upload", enctype="multipart/form-data")
    section.upload-form__content
      h2.upload-form__title Upload a file to <br> "My bucket"
      label(for="upload-input")
        .filename Glisser un fichier ou cliquer pour uploader
        input#upload.upload-form__input(type="file", name="upload")
      label(for="email") Your email
      input#email(type="email", placeholder="john@gimmefile.io")
      label(for="guest") Guests
      input#guest(type="email", placeholder="jade@gimmefile.io")
      a.more-guest + more
      button.upload-form__button(type="submit") upload