extends layout

block content
  form.upload-form.content(method="post", action="/upload", enctype="multipart/form-data")
    section.upload-form__content
      h1.upload-form__title Upload a file to <br> "My bucket"
      label(for="upload-input")
        .filename Glisser vos fichiers ou cliquer pour uploader
        input#upload.upload-form__input(type="file", name="upload", multiple)
      label(for="email") Votre email
      input#email(type="email", placeholder="victor.darras@gmail.com")
      .control.guests  
        label(for="guest") Envoyer à 
        input#guest(type="email", placeholder="tom.panier@gmail.com")
        a.more-guest + plus
      .button-container
        button.upload-form__button(type="submit") upload