form(novalidate, autocomplete="off", data-ng-submit="save()")
  label(for="email") E-mail
  input(type="email", name="email", id="email", data-ng-model="user.email")
  label(for="password") Password
  input(type="password", name="password", id="password", data-ng-model="user.password")
  button(type="submit") Go
  a(href="#!/") Back