@media only screen and (max-width:500px)
  body > header 
    h1
      font-size: 1.5em
      margin: 0.5em 0 0.4em 0.5em
    .logo
      display: none
    .create-bucket
      margin: 1em 1em 0 0
  .primary-blocks
    .third
      border-top: 1px solid #ddd
      padding: 0.5em 0 1em
      &:first-child
        border-top: 0
    i 
      font-size: 3em
    p 
      font-size: 1.1em
      padding: 0.5em
      margin: 0
      vertical-align: top