extends layout

block content
  form.create-form.content(method="post")
    section.create-form__content
      h1.create-form__title Créer un bucket
      include _alerts
      label Nom du bucket
      input.create-form__input--name(type="text", name="name", value=post.name)
      label Description
      input.create-form__input--description(type="text", name="description", value=post.description)
      .button-container
        button.third ?
        button.second: a(href="/upload/0") Upload
        button.create-form__button(type="submit") Créer
