extends layout

block content
  .row
    .home-container

      h1 Bienvenue sur Gimmefile
      .primary-blocks

        .third
          i.icon-bucket
          p Créez un bucket

        .third
          i.icon-paperplane
          p Partagez l'url publique

        .third
          i.icon-cloud-download
          p Récupérez les fichiers ajoutés par vos contacts
