extends layout

block content
  .row
    .home-container

      h1 Bienvenue sur Gimmefile 
      h2 Créez un Bucket et recevez vos fichiers
      .primary-blocks
        .third  
          i.icon-upload-cloud
          p Ingrowing egos, a syntax he knows. We ain't takin' orders from snakes no more. Let's announce embargos and denounce our far foes! I am sane! I ain't sayin' anything that could be construed as an apology... Instead of staring at your Stella desperately for inspiration, belt up and quiver at your indignation.
        .third  
          i.icon-lock-open-alt
          p It's just distance that separates us; or are we really ethnocentrically inclined? And I'll scream with a thousand voices... Tonight, I'm wide awake! We ain't takin' orders from snakes no more. Tonight, I'm wide awake! And I'll scream with a thousand voices...
        .third  
          i.icon-paper-plane
          p It's just distance that separates us; or are we really ethnocentrically inclined? I just fell from the mothership, they said that your answers are always lying on the ocean bed. Go tell all your friends that this is the end. My soul felt so safe up here, no self-centered natives destroying our Earth. My soul felt so safe up here, no self-centered natives destroying our Earth. I don't understand a word you're sayin'! The lions are at the door! My soul felt so safe up here, no self-centered natives destroying our Earth.
