doctype html
html
  head
    title Gimmefile
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
  body

    header
      .row
        a(href="/"): h1 <span class="logo">⬚</span> Gimmefile 
        button.create-bucket: a(href="/create")
          | New bucket
          i.icon-plus
    .container
      block content
    footer
      dl
        dt Design
          dd
            a(href='http://victordarras.fr/', target='_blank', title='Web and print Designer') Victor Darras
      dl
        dt Development
        dd
          a(href='http://www.zaibatsu.fr/', target='_blank', title='Zaibatsu - Blog de Tom Panier, développeur web') Tom Panier
      dl
        dt Powered by
        dd
          a(href='http://expressjs.com/', target='_blank') express.js

script(src="/javascripts/script.js")
block javascripts