extends layout

block content
  form.upload-form.content(method="post", action="/upload", enctype="multipart/form-data")
    section.upload-form__content
      h1.upload-form__title
        | Ajouter des fichiers à
        br
        strong= bucket.name
      label(for="upload-input")
        .filename Déposez vos fichiers ou cliquez
        input#upload.upload-form__input(type="file", name="upload", multiple)
      label(for="email") Votre e-mail
      input#email(type="email", placeholder="you@xyz.com")
      .control.guests  
        label(for="guest") Envoyer à
        input#guest(type="email", placeholder="them@xyz.com")
        a.more-guest + plus
      .button-container.button-container--right
        button.upload-form__button(type="submit") Envoyer